<style scoped>@import url(/app/pages/home/home.css);</style>
<div class="home-page">
    <main id="maincontent">
        <div class="splash">
            <div class="text-overlay">
                <span class="slogan">Discover learning materials in an Open Space.</span>
                <p class="details">
                    View and share free educational material in small modules that can be
                    organized as courses, books, reports or other academic assignments.
                </p>
            </div>
        </div>

        <div class="featured-books"></div>
    </main>
</div>
